@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,300&display=swap');

*{
    padding:0;
    margin:0;
    font-family: "playfair-display";
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #f8e2e460;
}

::-webkit-scrollbar-thumb{
  background-color: #d1a0807c;
  border-radius: 25rem;
  visibility: collapse;
}

::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  transition: 500ms;
}

.btn.btn-kyn{
  color: white !important;
  font-weight: 700;
  background-color: #d1a080;
}

.btn.btn-kyn:focus{
  color: white !important;
  font-weight: 700;
  background-color: #d1a080;
}

.btn.btn-kyn:hover{
  color: white !important;
  font-weight: 700;
  background-color: #bd9275;
  border-color: #d1a080;
}

.btn.btn-outline-kyn{
  color : #d1a080 !important;
  font-weight: 700;
  border-color: #d1a080 !important;
}

.btn.btn-outline-kyn:focus{
  color : #d1a080 !important;
  font-weight: 700;
  border-color: #d1a080 !important;
}

.btn.btn-outline-kyn:hover{
  color: white !important;
  background-color: #d1a080;
}

.form-links{
  position: relative;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  z-index: 1020;
}
.form-links::before{
  content:"";
  position: absolute;
  z-index:-1;
  background-color:#d1a080;
  width: 0%;
  height: 10%;
  border-radius: 1.44rem;   
  top:100%;
  transform: translateY(-50%);
}

.form-links, .form-links::before{
  transition: all 300ms ease-in-out;
}

.form-links:hover::before{
  width: 100%;  
}

.categ-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.categ-link:hover {
  color: rgb(104, 103, 103);
  text-transform: uppercase;
}

.categ-link::after {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  transition: 0.3s;
  opacity: 0;
}

.categ-link:hover::after {
  background-color: black;
  opacity: 0.3;
}

.categ-link, .categ-link::after{
  transition:all 0.3s ease-in-out;
}